@using Microsoft.AspNetCore.Mvc.Localization
@using Kot.Models.Home

<link href="~/css/tabs.css" rel="stylesheet" />

@inject IViewLocalizer Localizer
@model IndexViewModel

@{
    ViewData["Title"] = "Agnieszka Trela";
}


<div class="wrapper">
    <h1 class="title">Trela Agnieszka</h1>
    <nav class="tabs">
        <div class="selector"></div>
        <a href="#" class="active"><i class="fab fa-superpowers"></i>@Localizer["Home"]</a>
        <a href="#"><i class="fas fa-hand-rock"></i>@Localizer["About"]</a>
        <a href="#"><i class="fas fa-hand-rock"></i>@Localizer["Publications"]</a>
        <a href="#"><i class="fas fa-bolt"></i>@Localizer["Conferences"]</a>
        <a href="#"><i class="fas fa-burn"></i>@Localizer["Grants"]</a>
    </nav>
</div>


<script src="~/js/tabs.js"></script>